
#nav-icon-wrapper {position:absolute;left:0;top:0;width:150px;height:100%;background:#FFCA44;z-index:300;cursor:pointer;}
#nav-icon-wrapper:hover {background:#FFF;}
#nav-icon-text {position:absolute;left:70px;top:31px;color:#4A1260;font-size:19px;font-weight:900;text-transform:uppercase;color:#4A1260;}
#nav-icon {display:block;position:absolute;left:24px;top:27px;width:32px;height:32px;margin:0;cursor:pointer;/*z-index:300;*/}
#nav-icon {-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;}
#nav-icon span {display:block;position:absolute;height:5px;width:100%;background:#4A1260;opacity:1;left:0;}
#nav-icon span {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#nav-icon span {-webkit-transform: rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;}
#nav-icon span:nth-child(1) {top:0px;}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {top:10px;}
#nav-icon span:nth-child(4) {top:20px;}
#nav-icon.open span:nth-child(1) {top:12px;width:0%;left:50%;}
#nav-icon.open span:nth-child(2) {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
#nav-icon.open span:nth-child(3) {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
#nav-icon.open span:nth-child(4) {top:14px;width:0%;left:50%;}

#social-top {position:absolute;left:170px;top:0;height:100%;z-index:300;}
.social-links {}
.social-links .icon-social {display:block;float:left;width:20px;height:20px;margin:28px 10px 0 0;color:#FFCA44;font-size:21px;text-decoration:none;}

#nav-ticket-wrapper {display:block;position:absolute;right:0;top:0;width:150px;height:100%;background:#FFCA44;z-index:300;text-decoration:none;}
#nav-ticket-wrapper:hover {background:#FFF;}
#nav-ticket-wrapper .icon-ticket {display:block;position:absolute;right:26px;top:22px;width:34px;height:auto;color:#FFCA44;}
#nav-ticket-text {position:absolute;right:70px;top:24px;color:#4A1260;font-weight:900;text-align:left;text-transform:uppercase;}
#nav-ticket-text .top {font-size:28px;margin-bottom:2px;}
#nav-ticket-text .btm {font-size:14px;}

#nav-cart-wrapper {/*display:none;*/position:absolute;right:0;top:84px;width:150px;height:80px;background:#FFCA44;z-index:300;text-decoration:none;}
#nav-cart-wrapper:hover {background:#FFF;}
#nav-cart-text {position:absolute;left:20px;top:24px;color:#4A1260;font-weight:900;text-align:left;text-transform:uppercase;}
#nav-cart-text .top {font-size:28px;margin-bottom:2px;}
#nav-cart-text .btm {font-size:14px;}
.woocommerce-cart #nav-cart-wrapper, .woocommerce-checkout #nav-cart-wrapper {display:none;}

#nav-search-wrapper {display:block;position:absolute;right:150px;top:0;width:150px;height:100%;text-decoration:none;z-index:10;}
#nav-search-wrapper .icon-search {display:block;position:absolute;right:28px;top:27px;width:24px;height:22px;color:#4A1260;background:#FFCA44;}
#nav-search-wrapper:hover .icon-search {background:#FFF;cursor:pointer;}
#nav-search-text {position:absolute;right:65px;top:31px;color:#FFCA44;font-weight:900;text-align:center;text-transform:uppercase;}
#nav-search-wrapper:hover #nav-search-text {color:#FFF;}
/*#nav-search-wrapper .icon-search img {display:block;width:36px;height:auto;}*/

.nav-mobile {display:block;position:fixed;left:-350px;top:0;bottom:0;overflow-y:auto;overflow-x:hidden;width:350px;height:100%;line-height:165%;text-align:left;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;z-index:200;}
.nav-mobile {
background: rgba(145,66,139,1);
background: -moz-linear-gradient(top, rgba(145,66,139,1) 0%, rgba(74,18,96,1) 50%, rgba(74,18,96,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,66,139,1)), color-stop(50%, rgba(74,18,96,1)), color-stop(100%, rgba(74,18,96,1)));
background: -webkit-linear-gradient(top, rgba(145,66,139,1) 0%, rgba(74,18,96,1) 50%, rgba(74,18,96,1) 100%);
background: -o-linear-gradient(top, rgba(145,66,139,1) 0%, rgba(74,18,96,1) 50%, rgba(74,18,96,1) 100%);
background: -ms-linear-gradient(top, rgba(145,66,139,1) 0%, rgba(74,18,96,1) 50%, rgba(74,18,96,1) 100%);
background: linear-gradient(to bottom, rgba(145,66,139,1) 0%, rgba(74,18,96,1) 50%, rgba(74,18,96,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91428b', endColorstr='#4a1260', GradientType=0 );
}
.nav-mobile.open {left:0;/*width:350px;*/}
.nav-mobile ul {list-style:none;width:302px;margin:0;padding:140px 24px 50px 24px;}
.nav-mobile li {margin:0 0 10px 0;padding:0;position:relative;}
.nav-mobile li a {display:block;position:relative;margin:0;padding:15px 15px;font-size:18px;line-height:100%;font-weight:900;text-transform:uppercase;color:#4A1260;background:#FFCA44;text-decoration:none;transition:all 0.3s ease-in-out;}
.nav-mobile li a {-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;transition:all 0.25s ease-in-out;}
.nav-mobile li a:after {font-family:"icomoon";content:"\f138";position:absolute;right:24px;top:15px;}
.nav-mobile li a:hover {transform:translate(5px,-1px);-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,0.4);-moz-box-shadow:0 5px 10px 0 rgba(0,0,0,0.4);box-shadow:0 5px 10px 0 rgba(0,0,0,0.4);text-decoration:none;}
.nav-mobile li.page-item-102 a, .nav-mobile li.page-item-123 a, .nav-mobile li.page-item-655 a {background:#FFF;}
.nav-mobile li.page-item-117 a, .nav-mobile li.page-item-119 a, .nav-mobile li.page-item-121 a {color:#FFCA44;background:#91428B;}
.nav-mobile > ul > li.current_page_item > a, #nav > ul > li.current_page_item > a:hover {text-decoration:none;}

.nav-mobile ul ul {margin:0;padding:0;max-height:0;overflow:hidden;transition:max-height 0.3s ease-in-out;-webkit-transition:max-height 0.9s ease-in-out;}
.nav-mobile ul ul.open {max-height:1000px;}
.nav-mobile ul li.page_item_has_children.current_page_item ul, .nav-mobile ul li.page_item_has_children.current_page_ancestor ul {max-height:1000px;}
.nav-mobile ul ul li.current_page_item > a, #nav li.current_page_item a:hover, .nav-mobile ul li.current_page_ancestor > a, #nav li.current_page_ancestor a:hover {text-decoration:none;}
.nav-mobile ul ul li {margin:0;}
.nav-mobile ul ul li a {display:inline-block;font-size:14px;padding:8px 15px;color:#FFF;background:none;}
.nav-mobile ul li.page-item-117 ul li a {color:#FFF;background:none;}
.nav-mobile ul li.page-item-119 ul li a {color:#FFCA44;background:none;}
.nav-mobile ul ul li:first-child a {padding-top:15px;}
.nav-mobile ul ul li:last-child a {padding-bottom:10px;}
.nav-mobile ul ul li a:after {content:'>';position:relative;right:auto;top:-2px;margin-left:10px;}

.md-main-menu li,.md-main-menu li:hover { border-bottom: 0; background: none;  }
.md-main-menu ul li ul { }
.md-main-menu ul li ul li { display: block}


#sub-menu {width:100%;height:60px;line-height:60px;background:#064429;margin:-3px 0 0 0;padding:0;position:relative;z-index:150;}
.sub-menu ul {list-style:none;margin:0;padding:0;text-align:center;}
.sub-menu li {display:inline-block;margin:0;padding:0;position:relative;}
.sub-menu li a {color:#FFF;margin:0;padding:0 8px;transition:all 0.25s ease-in-out;text-decoration:none;}
.sub-menu li a:hover, .sub-menu li.current_page_item a,.sub-menu li.current_page_ancestor a {color:#FFCA44;}
.sub-menu ul ul {position:absolute;max-height:0;left:-100px;top:60px;width:300px;overflow:hidden;background:#96BF31;transition:max-height 0.5s ease-in-out;z-index:10;}
.sub-menu ul ul li {display:block;line-height:100%;}
.sub-menu ul ul li:first-child a {padding-top:20px;}
.sub-menu ul ul li:last-child a {padding-bottom:20px;}
.sub-menu ul ul li a {display:block;color:#064429;padding:8px 0;}
.sub-menu ul ul li:first-child a {color:#064429;}
.sub-menu ul li.current_page_item ul li a, .sub-menu ul li.current_page_ancestor ul li a {color:#064429;}
.sub-menu ul li.current_page_item ul li a:hover, .sub-menu ul li.current_page_ancestor ul li a:hover {color:#FFCA44;}
.sub-menu ul li.current_page_item ul li.current_page_item a, .sub-menu ul li.current_page_ancestor ul li.current_page_item a {color:#FFCA44;}
.sub-menu li:hover ul {max-height:1000px;z-index:20;}
.sub-menu li ul.open {max-height:1000px;z-index:20;}



#nav-sub-icon {display:block;position:absolute;right:30px;top:18px;width:36px;height:32px;margin:0;cursor:pointer;/*z-index:300;*/}
#nav-sub-icon {-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;}
#nav-sub-icon span {display:block;position:absolute;height:4px;width:100%;background:#FFF;opacity:1;left:0;}
#nav-sub-icon span {-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#nav-sub-icon span {-webkit-transform: rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;}
#nav-sub-icon span:nth-child(1) {top:0px;}
#nav-sub-icon span:nth-child(2),#nav-sub-icon span:nth-child(3) {top:10px;}
#nav-sub-icon span:nth-child(4) {top:20px;}
#nav-sub-icon.open span:nth-child(1) {top:10px;width:0%;left:50%;}
#nav-sub-icon.open span:nth-child(2) {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
#nav-sub-icon.open span:nth-child(3) {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
#nav-sub-icon.open span:nth-child(4) {top:14px;width:0%;left:50%;}

#nav-sub-menu {display:block;max-height:0;overflow:hidden;width:100%;background:#064429;margin:0;padding:0;position:relative;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
#nav-sub-menu ul {list-style:none;margin:0;padding:0;text-align:right;}
#nav-sub-menu li {margin:0;padding:0;}
#nav-sub-menu li a {display:inline-block;color:#FFF;text-transform:uppercase;padding:13px 30px;transition:color 0.3s ease-in-out;}
#nav-sub-menu li a:hover, #nav-sub-menu li.current_page_item a, #nav-sub-menu li.current_page_ancestor a {color:#FFCA44;text-decoration:none;}
#nav-sub-menu li:first-child a {padding-top:20px;}
#nav-sub-menu li:last-child a {padding-bottom:35px;}
#nav-sub-menu.open {max-height:2000px;}

