@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
  font-family: 'Playfair Display', serif;
}

.za-accordian-wrap {
  max-width: 90%;
  margin: auto;
}

.za-main-title {
  text-align: center;
  margin: 35px 0;
  font-size: 32px;
}

.za-items-wrap {
  display: flex;
  flex-wrap: wrap;
}

.za-items-wrap>.za-item {
  width: 100%;
  margin: 1%;
}

.za-items-wrap .za-item-img {
  width: 100%;
}

.za-item-title {
  text-align: center;
}

.za-accordian {
  position: relative;
}

.za-accordian input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}

.za-accordian-title {
  position: relative;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  font-size: 18px;
  padding: 10px 7px;
  margin: 8px 0;
}

.za-accordian label::before {
  content: "";
  display: inline-block;
  border: 1px solid;
  padding: 0 4px;
  margin-right: 20px;
}

.za-accordian label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.za-accordian-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.za-accordian input:checked~.za-accordian-title~.za-accordian-content {
  max-height: fit-content;
}

@media only screen and (min-width:768px) {
  .za-items-wrap>.za-item {
    width: 23%;
  }
}