.wpkd-grid-container .wpkd-post {
    overflow: hidden;
}

.wpkd-grid-container .wpkd-post a.read-more-btn{
	display: inline-block;
}

.wpkd-grid-container .post-grid-thumbnail{
	margin-bottom: 20px;
}

.wpkd-grid-container .post-grid-meta{
	margin-bottom: 10px;
}

.wpkd-grid-container .wpkd-post .post-grid-meta span + span:before {
    margin-left: 2px;
    margin-right: 4px;
}

.grid-meta-bottom .post-grid-text-wrap {
	border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.grid-meta-bottom .wpkd-post {
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post,
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post:hover{
    background: transparent;
    margin-top: 0;
}

.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .title,
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .title > a{
    margin: 5px 0;
    padding: 5px 0;
}

.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .post-grid-excerpt p,
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post a.read-more-btn,
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .post-grid-meta span{
    font-weight: 400;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .post-grid-author {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .post-grid-author img{
	-ms-flex-item-align: start;
    align-self: flex-start;
	-ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .wpkd-grid-container .wpkd-post .post-grid-author h5{
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 16px;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid a.page-numbers, .elementor-widget-elementor-kd-blog-posts .wpkd-grid span.page-numbers{
	display: inline-block;
    text-align: center;
	margin-right:3px;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .pagination .nav-links {
	text-align: center;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .next.page-numbers, .elementor-widget-elementor-kd-blog-posts .wpkd-grid .prev.page-numbers {
	display:none;
}
.elementor-widget-elementor-kd-blog-posts .wpkd-grid .pagination  {
	margin-top:80px;
}
.pagination a.page-numbers, .pagination span.page-numbers{
	display: inline-block;
    text-align: center;
	margin-right:3px;
}
.pagination .nav-links {
	text-align: center;
}
.pagination .next.page-numbers, .pagination .prev.page-numbers {
	display:none;
}
.post-grid-person-position span {
    float: left;
    width: 100%;
}
.wpkd-post.kd_testimonial[data-layout="3"]  {
	position:relative;
	padding-bottom:70px;
	display:inline-block;
}
.wpkd-post.kd_testimonial .read-more-btn{
	/*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    max-width: 170px;*/
}
.swiper.wpkd-post-grid-slider{
	overflow: hidden;
    z-index: 1;
}
.swiper.wpkd-post-grid-slider .swiper-pagination {
	width:100%;
	padding:0;
}
.swiper.wpkd-post-grid-slider .swiper-pagination-bullet {
	margin-right: 5px;
	background:var(--e-global-color-primary);
	width:8px;
	height:8px;
	vertical-align: middle;
}
.swiper.wpkd-post-grid-slider .swiper-pagination-bullet-active {
	margin-right: 5px;
	background:var(--e-global-color-ac49eaf);
	width:16px;
	height:16px;
	border:4px solid var(--e-global-color-secondary);
}
@media (min-width: 768px) {
.kd-post-count {
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	margin:auto;
}
div.wpkd-post.kd_support {
	position:relative;
}
}
.pagination .nav-links a.page-numbers {
    width: 48px;
height: 48px;
/* UI Properties */
border: 1px solid var(--e-global-color-48270f3);
border-radius: 100%;
    line-height: 44px;
    
}
.pagination .nav-links span.page-numbers {
    width: 48px;
height: 48px;
/* UI Properties */
border: 1px solid var(--e-global-color-secondary);
border-radius: 100%;
    background: var(--e-global-color-secondary);
    color:var(--e-global-color-ac49eaf);
    line-height: 44px;
    
}